/* .sectionWithImage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    gap: 2rem;
  }
  
  .imageContainer {
    flex: 1;
    text-align: center;
  }
  
  .image {
    max-width: 100%;
    border-radius: 8px;
  }

  .section {
    padding: 2rem 1rem;
    text-align: center;
  }
  
  .cardContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    width: 250px;
    text-align: left;
  }
  
  
  .contentContainer {
    flex: 1;
    text-align: left;
  }
  .buttonContainer {
    display: flex;
    justify-content: center; 
    gap: 1rem; 
    margin-top: 1.5rem;
  } */