.content-container1 {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.subtitle1 {
  font-size: 1.8rem;
  color: #555;
  /* margin-bottom: 10px; */
}

.main-content1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.text-content1 {
  max-width: 500px;
  text-align: left;
}

.text-content1 h2 {
  font-size: 2rem;
  color: #0079c0;
  margin-bottom: 15px;
}
.text-content1 p {
  font-size: 1.2rem;
  font-weight: bold;
}

.text-content1 ul {
  list-style: none;
  padding: 0;
}

.text-content1 li {
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
  position: relative;
  padding-left: 20px;
}

.text-content1 li::before {
  content: "•";
  color: red;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
}

/* .demo-button {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #0079c0;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .demo-button:hover {
      background-color: #005f94;
    } */

.image-content1 img {
  max-width: 300px;
  width: 100%;
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}
