.welcome-heading {
    text-align: center;
    color: #0fd395ee;
    margin:auto;
    font-size: 3rem;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* background-color: #4caf50; */
  }
  .welcome-heading:hover{
    color: rgba(229, 210, 6, 0.731);
  }
  